body {
   width: 400px;
   height: 480px;
}

.pf-c-card {
   background-color: aqua;
   padding: 6px;
   border-radius: 4px;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
}

.CardTitle {
   text-align: center;
   background: coral;
}

.gridItem {
   background-color: lightgreen;
   padding: 6px;
}

.score {
   background-color: lightgray;
   text-align: right;
   margin-right: 36px;
   margin-top: 18px;
}

#scoreBox {
   /*background-color: red;*/
}